.Notcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonAll {
  background-color: purple;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttonAll:hover {
  transform: scale(0.95);
}

.buttonAll:active {
  transform: scale(0.9);
}
.Nottitle {
  font-size: 4rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.Notmessage {
  font-size: 2rem;
  color: #888;
}
.success-message {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: #0aab1a;
  align-items: center;
  justify-content: center;
}
.close-message {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: #d52424;
  align-items: center;
  justify-content: center;
}
.none-message {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: #737373;
  align-items: center;
  justify-content: center;
}
html,
body,
#root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 4px;
}
.input-line {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 4px;
  line-height: 36px;
  cursor: pointer;
}

.input font,
.input-line font {
  color: grayText;
  font-size: 0.8rem;
  cursor: pointer;
}

.input-line font {
  color: purple;
  font-weight: 600;
}

.input input,
.input select {
  border: none;
  border-bottom: 2px solid gray;
  line-height: 23px;
  outline: none;
  font-size: 0.95rem;
  transition: all ease-in-out 0.15s;
}
.input select {
  padding: 6px 0;
}
.input:hover input,
.input:hover select,
.input input:focus,
.input select:focus {
  border-bottom: 2px solid red;
}

.btn-validation {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 12px 4px;
}

.btn-validation button {
  border: none;
  border-radius: 4px;
  padding: 4px 10px;
  background-color: white;
  color: white;
  background-color: purple;
  transition: all ease-in-out 0.15s;
}

.btn-validation button:hover {
  /* box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19); */
  transform: scale(0.95);
  cursor: pointer;
}
.label-title {
  padding: 0 10px;
  font-size: 2rem;
}

.form {
  margin: 0;
}

.form h3,
.label-title h3 {
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 12px;
  margin-bottom: 0;
  padding-top: 12px;
  margin-top: 0;
}

.form-header {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  background-color: #eee;
  padding: 0 12px;
  margin-bottom: 12px;
}

.form-title {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.form-body {
  padding: 12px;
  padding-bottom: 30px;
}

.grid {
  display: grid;
  gap: 8px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-contain {
  display: block;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 0 2px 3px gray;
  background-color: #fff;
  padding: 0;
}

table {
  width: calc(100% - 16px);
  margin: 8px;
}

table thead tr td {
  background-color: #eee;
  color: graytext;
  padding: 4px;
}
table tbody tr td {
  padding: 2px 4px;
  transition: all ease-in-out 0.15s;
}
table tbody tr:hover td,
table tbody tr:nth-child(2n):hover td {
  background-color: #223;
  color: #fff;
}
table tbody tr:nth-child(2n) td {
  background-color: #fafafa;
}

/*main style*/
.appli {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  padding: 0;
  margin: 0;
}
.appli-header {
  display: flex;
  flex-direction: column;
}
.appli-header .title {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  padding: 8px 30px;
  border-bottom: 1px solid lightgray;
  box-shadow: 0px 2px 3px lightgray;
  height: 30px;
}

.appli-header .title .logo {
  font-size: 1.5rem;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
}

.logo button {
  font-size: 1.5rem;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: transparent;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all ease-in-out 0.15s;
}
.logo button:hover {
  color: purple;
  font-weight: 500;
  transform: scale(0.9);
  cursor: pointer;
}

.appli-header .title i {
  font-size: 0.9rem;
  padding: 3px 12px;
  font-style: normal;
  color: purple;
  font-weight: 600;
}

.appli-header .menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  position: absolute;
  margin: 30px;
  background-color: #223;
  color: #fff;
  border-radius: 8px;
  padding: 12px 20px;
  box-shadow: 0 2px 3px #000;
  width: calc(100% - 100px);
  margin-top: 60px;
  max-height: calc(100% - 130px);
  opacity: 0.9;
}

.appli-footer {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 8px;
  font-size: 0.7rem;
  color: graytext;
  font-weight: 400;
  border-top: 1px solid lightgray;
  background-color: #eee;
}

.menu .menu-group {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 4px;
  color: #fff;
  border-right: 1px dashed lime;
  padding: 12px;
}
.menu-group:last-child {
  border: none;
}
.menu-group h4 {
  font-size: 0.9rem;
  font-weight: 400;
  padding-bottom: 8px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}
.menu-group small {
  color: lightgray;
  font-size: 0.7rem;
  text-align: center;
  padding-top: 18px;
}

.menu-group-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-right: 12px;
}
.menu-group-list button {
  font-size: 0.75rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: limegreen;
  font-weight: 600;
  transition: all ease-in-out 0.15s;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.menu-group-list button font {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.menu-group-list button:hover {
  color: lime;
  cursor: pointer;
}
.menu-icon {
  font-size: 1.1rem;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #000;
  color: gray;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-group-list hr {
  border: none;
  border-top: 0.5px solid gray;
}

.form-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
